{% extends "base.html" %} {% block head %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='extended_beauty.css') }}">
{% endblock %}

{% block content %}
<div class="col-md-4 mx-auto col-4">
    <form action="/signup" method="POST">
        <h2 class="text-center">Sign Up</h2>
        <div class="form-group mb-3">
            <label for="name">Name</label>
            <input 
                type="text" 
                class="form-control" 
                id="name" 
                name="name"
                placeholder="Enter your full name...">
        </div>

        <div class="form-group mb-3">
            <label for="email">Email address</label>
            <input 
                type="email" 
                class="form-control" 
                id="email" 
                name="email"
                placeholder="Enter your email...">
        </div>

        <div class="form-group mb-4">
            <label for="password">Password</label>
            <input 
                type="password" 
                class="form-control" 
                id="password" 
                name="password"
                placeholder="Enter your password...">
        </div>
        <button type="submit" class="btn btn-outline-primary w-100">Sign Up</button>
    </form>
</div>

{% endblock %}